{
}

.WID_30_5_676aecd3714d608added897d24c09b876686cca5#header {
    width: 100%;
    height: 648px;
    float: left;
    background-color: transparent;
}

.WID_30_5_676aecd3714d608added897d24c09b876686cca5 #header_pic {
    width: 100%;
    height: 100%;
    background-image: url(header_pic.png);
    background-position: top center;
    background-repeat: no-repeat;
}

.WID_30_5_676aecd3714d608added897d24c09b876686cca5 #widget-title {
    position: relative;
    left: 100px;
    top: 10px;
    float: left;
}

.WID_30_5_676aecd3714d608added897d24c09b876686cca5 #widget-title-text1 {
    font-family: Verdana;
    padding: 10px 0px 10px 0px;
    font-size: 1.875em;
    color: #844A00;
    text-align: left;
    margin: 0px;
    font-weight: bold;
}

.WID_30_5_676aecd3714d608added897d24c09b876686cca5 #widget-title-text2 {
    font-family: Verdana;
    font-size: 1.0em;
    color: #424142;
    text-align: left;
    margin: 0px;
}

.WID_30_5_676aecd3714d608added897d24c09b876686cca5 #abgne_carousel_floating_image {
    left: 10px;
    top: 10px;
    position: absolute;
}

.WID_30_5_676aecd3714d608added897d24c09b876686cca5 #abgne_carousel_floating_image a {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: block;
    text-indent: -9999px;
    font: 0/0 a;
}

.WID_30_5_676aecd3714d608added897d24c09b876686cca5 #abgne_carousel_floating_image h1 {
    padding: 0px;
    margin: 0px;
    font-size: 1.0em;
}

.WID_30_5_676aecd3714d608added897d24c09b876686cca5 #abgne_carousel_floating_image #floating_image {
    background-image: ;
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    width: 50px;
    height: 50px;
}